<nav class="navbar navbar-expand navbar-dark bg-dark pl-0 pr-0">
  <div class="container pl-3 pr-3">
    <span class="navbar-text w-100" appAutoScrollIfOverflow>Вы вошли как {{username}}</span>
    <ul class="navbar-nav">
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link" title="Поиск лекарства" routerLink="/">
          <fa-icon [icon]="faSearch"></fa-icon>
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" title="База лекарств" routerLink="/pills">
          <fa-icon [icon]="faPills"></fa-icon>
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" title="База мест" routerLink="/places">
          <fa-icon [icon]="faMedkit"></fa-icon>
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active" *ngIf="authService.hasRole('ADMIN')">
        <a class="nav-link" title="Пользователи" routerLink="/users">
          <fa-icon [icon]="faUsers"></fa-icon>
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" title="Аккаунт" routerLink="/account">
          <fa-icon [icon]="faUser"></fa-icon>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link cursor-pointer" (click)="logout()" title="Выход">
          <fa-icon [icon]="faSignOutAlt"></fa-icon>
        </a>
      </li>
    </ul>
  </div>
</nav>
