<alert type="danger" *ngIf="loadErrorMessage">Ошибка получения данных</alert>

<ng-container *ngIf="!loadErrorMessage">
  <div class="table-responsive">
    <table class="table text-smaller-xs">
      <thead>
        <tr>
          <th scope="col">Лекарство</th>
          <th scope="col">Место</th>
          <th scope="col" class="text-center" *ngIf="canEdit">Удалить</th>
        </tr>
        <tr>
          <th>
            <input type="text" class="form-control" [(ngModel)]="pillPlaceFilter.pill.name"
                   title="Введите название лекарства">
          </th>
          <th>
            <input type="text" class="form-control" [(ngModel)]="pillPlaceFilter.place.name"
                   title="Введите название места">
          </th>
        </tr>
      </thead>
      <tr *ngFor="let pillPlace of pillsPlaces | filterBy: pillPlaceFilter">
        <td>
          {{pillPlace.pill.name}}
          <fa-icon [icon]="faQuestionCircle" *ngIf="pillPlace.pill.description"
                   [tooltip]="pillPlace.pill.description"></fa-icon>
        </td>
        <td>
          {{pillPlace.place.name}}
          <fa-icon [icon]="faQuestionCircle" *ngIf="pillPlace.place.description"
                   [tooltip]="pillPlace.place.description"></fa-icon>
        </td>
        <td class="text-center align-middle" *ngIf="canEdit">
          <button type="button" class="btn btn-danger" (click)="confirmDeletePillPlace(pillPlace)">
            <fa-icon [icon]="faTrash"></fa-icon>
          </button>
        </td>
      </tr>
      <tr>
        <td colspan="3" *ngIf="(pillsPlaces | filterBy: pillPlaceFilter).length === 0"
            class="text-center font-italic">
          Нет совпадений
        </td>
      </tr>
    </table>
  </div>

  <button type="button" class="btn btn-primary btn-circle btn-lg btn-floating" title="Добавить" *ngIf="canEdit"
          (click)="openAddPillPlaceModal(addPillPlaceModalTemplate)">
    <fa-icon [icon]="faPlus"></fa-icon>
  </button>

  <ng-template #addPillPlaceModalTemplate>
    <div class="modal-header">
      <h5 class="modal-title">Добавить элемент</h5>
      <button type="button" class="close pull-right" aria-label="Close" (click)="addPillPlaceModalRef.hide()">
        <span aria-hidden="true"><fa-icon [icon]="faTimes"></fa-icon></span>
      </button>
    </div>
    <div class="modal-body">
      <form id="addPillPlaceForm" #addPillPlaceForm="ngForm" autocomplete="off"
            (ngSubmit)="onAddPillPlaceFormSubmit()">
        <div class="form-group">
          <label for="addPillPlacePillInput">Лекарство</label>
          <input class="form-control" id="addPillPlacePillInput" name="newPill" required
                 placeholder="Введите название лекарства"
                 [typeahead]="pills" typeaheadOptionField="name" [typeaheadScrollable]="true"
                 [typeaheadOptionsInScrollableView]="5" [(ngModel)]="newPillInputValue" #newPill="ngModel"
                 (typeaheadOnSelect)="onSelectNewPill($event)">
          <small class="form-text text-muted" *ngIf="newPill.valid && needCreateNewPill">
            Будет создано новое лекарство
          </small>
        </div>
        <div class="form-group">
          <label for="addPillPlacePlaceInput">Место</label>
          <input class="form-control" id="addPillPlacePlaceInput" name="newPlace" required
                 placeholder="Введите название места"
                 [typeahead]="places" typeaheadOptionField="name" [typeaheadScrollable]="true"
                 [typeaheadOptionsInScrollableView]="5" [(ngModel)]="newPlaceInputValue" #newPlace="ngModel"
                 (typeaheadOnSelect)="onSelectNewPlace($event)">
          <small class="form-text text-muted" *ngIf="newPlace.valid && needCreateNewPlace">
            Будет создано новое место
          </small>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-warning" (click)="resetAddPillPlaceForm()">Сбросить</button>
      <button type="submit" class="btn btn-primary" form="addPillPlaceForm" [disabled]="!addPillPlaceForm.form.valid">
        <fa-icon [icon]="faPaperPlane"></fa-icon>
        Отправить
      </button>
    </div>
  </ng-template>
</ng-container>
