html, body {
  height: 100%;
}

body {
  background-color: $bg-color;
}

.modal-header-danger {
  @include border-top-radius(0.25em);
  @extend .bg-danger;
  * {
    color: $white;
  }
}

.btn-circle {
  width: $btn-circle-side;
  height: $btn-circle-side;
  border-radius: 50%;
  padding: 0;
  &.btn-sm {
    width: $btn-circle-side-sm;
    height: $btn-circle-side-sm;
  }
  &.btn-lg {
    width: $btn-circle-side-lg;
    height: $btn-circle-side-lg;
  }
}

.btn-floating {
  position: fixed;
  right: 24px;
  bottom: 45px;
}

.cursor-pointer {
  cursor: pointer !important;
  * {
    @extend .cursor-pointer;
  }
}

@include media-breakpoint-down(xs) {
  .text-smaller-xs {
    font-size: smaller;
  }
}
